<!-- Bootstrap bundle includes Popper and does not require jQuery. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{{- range .Site.Params.custom_js -}}
{{- $asset := . -}}
<script src="{{ if or (strings.HasPrefix $asset "http://") (strings.HasPrefix $asset "https://") (strings.HasPrefix $asset "//") }}{{ $asset }}{{ else }}{{ $asset | relURL }}{{ end }}"></script>
{{ end }}
